* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colorDark: #537072;
    --colorLight: #f4ebdb;
    --colorText: #2c4a52;
}

body {
    overflow-x: hidden;
    font-family: roboto, sans-serif;
    color: var(--colorText);
    background-color: var(--colorLight);
}

.preloader{
    position: fixed;
    z-index: 100;
    inset: 0;
    background: var(--colorDark);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .5s linear .2s;
}

.preloader>div{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p{
    font-size: 20px;
}

.nav {
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 10vw;
    width: 500px;
    max-width: 90vw;
    height: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px 0 0 50px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.296);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-110%);
    transition: transform .5s linear;


}

.nav__item {
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #2c4a52;
    line-height: 50px;
    transition: transform .3s cubic-bezier(0, 2.5, 1, 0.44);
}
.nav__item:hover{
    transform: scale(1.2);
}

.about {
    background-color: var(--colorDark);
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-auto-rows: minmax(0, auto);
}

.about-anim{
    opacity: 0;
    transform: translateX(-100%);
    transition: transform .5s linear, opacity .5s linear;
}

.about__img {
    grid-row: 1/3;
    max-height: 100vh;
    position: relative;
    z-index: 1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.about__img::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: -2px;
    box-shadow: inset -70px 0px 43px -15px var(--colorDark);
}

.about__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: inherit;
    transition-delay: .3s;
}

h1 {
    font-size: 50px;
    letter-spacing: 2px;
    color: #2c4a52;
    padding-left: 2px;
    margin: 50px 0 10px 0;
}

.selected-text {
    color: var(--colorLight);
    font-size: xx-large;
}

.about__text {
    padding: 0 50px 0 10px;
    line-height: 25px;
    max-width: 600px;
    transition-delay: .6s;
}

.about__icons {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    transition-delay: .9s;
}

.about__icon{
    width: 35px;
    height: 35px;
    transition: transform .3s;
}

.about__icons li:nth-child(1)>img{
    animation: bounce 1s linear infinite alternate;
}
.about__icons li:nth-child(2)>img{
    animation: bounce 1s linear infinite 0.25s alternate;
}
.about__icons li:nth-child(3)>img{
    animation: bounce 1s linear infinite 0.50s alternate;
}
.about__icons li:nth-child(4)>img{
    animation: bounce 1s linear infinite 0.75s alternate;
}
.about__icons li:nth-child(5)>img{
    animation: bounce 1s linear infinite 1s alternate;
}
.about__icons li:nth-child(6)>img{
    animation: bounce 1s linear infinite 1.25s alternate;
}

/* ////////////////////////////////////////////// */
.section {
    perspective: 500px;
    margin: 150px auto 0;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.section__wrapper {
    transform-origin: top;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    overflow: hidden;
}

.section--mt{
    margin-top: 0;
}

.section__container {
    height: 100%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-rows: 40% auto;
    row-gap: 10px;
    min-width: 40%;
    background-color: var(--colorDark);
    padding: 5vh;
    box-shadow: inset 0 0 10px 2px #ffffff5c;
}

.section__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: section__img--anim 1s linear infinite alternate;
}

@keyframes section__img--anim {
    to{
        filter: drop-shadow(0 0 6px var(--colorLight));
        transform: scale(1.05);
    }
}

.section__img:hover{
    animation-play-state: paused;
}

.section__text {
    max-width: 650px;
    overflow: auto;
}

.footer {
    width: 100%;
    padding: 50px 0;
    background-color: var(--colorDark);
}

.contact {
    height: 100%;
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: stretch;
}

.contact li {
    position: relative;
    color: #8e9b97;
    transition: color .3s linear;
}

.contact-icon {
    height: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid var(--colorLight);
    position: relative;
}

.contact li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 100%;
    background-color: var(--colorLight);
    transition: all .3s linear;
}

@keyframes bounce {
    from {
        filter: drop-shadow(0px 5px 5px #2c4a52);
        transform: scale(1.2);
    }to{
        transform: translate(0px, 15px);
    }
}

@media (hover: hover) {
    .about__icons li > img:hover {
        animation-play-state: paused;
    }

    .contact li:hover::before {
        width: 100%;
    }

    .contact li:hover {
        color: #2c4a52;
    }
}

@media (max-width: 850px) {
    .about__img {
        grid-row: 1/1;
    }

    .about__text{
        grid-column: 1/3;
        padding: 20px;
    }

    .contact {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    h1{
        font-size: 30px;
    }

    p{
        font-size: 17px;
    }

    .selected-text {
        font-size: x-large;
    }

    .about__icon {
        height: 25px;
        width: 25px;
    }

    .contact li::before {
        width: 40px;
    }
}
