*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: roboto;
}

.nav{
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 10vw;
    width: 500px;
    max-width: 90vw;
    height: 50px;
    backdrop-filter: blur(5px);
    border-radius: 50px 0 0 50px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.296);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__item{
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #2c4a52;
}


.section{
    background-color: #537072;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-auto-rows: minmax(0, auto);
}

.section__block-1{
    grid-row: 1/3;
    max-height: 100vh;
    position: relative;
}

.section__block-1>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section__block-1::after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: -2px;
    box-shadow: inset -90px 0px 43px -15px #537072;
}
.section__block-2{
    display: flex;
    align-items: center;
}
h1{
    font-size: 50px;
    letter-spacing: 2px;
    color: #2c4a52;
    padding-left: 2px;
    margin: 50px 0 10px 0;
}
  
.selected-text{
    color: #f4ebdb;
    font-size: xx-large;
}
.section__block-3{
    color: #2c4a52;
    padding: 0 50px 0 10px;
    line-height: 25px;
    max-width: 600px;
}




.section__icons{
    width: 100%;
    min-height: 50px;
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.section__icons li{
    list-style: none;
}

.section__icon{
    height: 35px;
    transition: transform .3s;
}


.i1{
    animation: bounce 1s linear infinite alternate;
}
.i2{
    animation: bounce 1s linear infinite 0.25s alternate;
}
.i3{
    animation: bounce 1s linear infinite 0.50s alternate;
}
.i4{
    animation: bounce 1s linear infinite 0.75s alternate;
}
@keyframes bounce {
from{
    filter: drop-shadow(0px 5px 5px #2c4a52);
    transform: scale(1.2);

}
    to{
        transform: translate(0px, 15px);

    }
}
@media (hover: hover) {
    .section__icon:hover{
        transform: scale(1.5);
        animation-play-state: paused;
    }
}


@media (max-width: 850px) {
    .section__block-1{
        grid-row: 1/1;
    }
    .section__block-3{
        grid-column: 1/3;
        padding: 20px;
    }
}

@media (max-width: 600px) {
    h1{
        font-size: 30px;
    }
    .selected-text{
        font-size: x-large;
    }
    .section__icon{
        height: 25px;
    }
}

/* ////////////////////////////////////////////// */
.box{
    width: 100vw;
    perspective: 500px;
    margin: 0 auto;
    perspective-origin: top;
    position: sticky;
    top: 0;
    /* padding-top: 10px; */
    overflow: hidden;
}

.win{
    transform-origin: top;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    /* display: flex; */
    padding: 30px 0 30px 0;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
    /* opacity: 0; */
}

.card{
    overflow: hidden;
    height: 90vh;
    /* overflow: auto; */
    /* height: 100%; */
    padding: 5vh;
    box-shadow: inset 0 0 4px 2px white, 0 0 3px 0px white;
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; */
}

/* .card>h2{
    margin: 10px 0;
} */

.card__text{
    /* height: 50%; */
    /* padding: 20px; */
    overflow: auto;
}

/* .img-shadow{
    height: 40%;
    margin: 0 auto;
    transition: .3s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: center;
    min-width: 40%;
} */
.img-shadow {
    /* max-width: 650px; */
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-width: 40%;
    gap: 20px;
    background-color: #8e9b97;
    padding: 5vh;
    box-shadow: inset 0 0 4px 2px white, 0 0 3px 0px white;
}

.img{
    /* display: block; */
    width: 100%;
    height: 40%;
    cursor: pointer;
}

.img img{
    box-shadow: 0 0 30px black;
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
}

.card1{
    background-color: #8e9b97;

}
.card2{
    background-color: #8e9b97;

}
